<div class="column is-6 is-offset-3">
    <h1 class="title">
        Coming Soon
    </h1>
    <h2 class="subtitle">
        $this is the best software platform for running an internet business. We handle billions of dollars every year for forward-thinking businesses around the world.
    </h2>
    <div class="box">
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input class="input" type="file" placeholder="Upload">
            </p>
            <p class="control">
                <a class="button is-info">
                    Upload
                </a>
            </p>
        </div>
    </div>
</div>
